body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

/* HEADER SECTION CSS */

#titlePlaceholder {
  position: relative;
  height: 100vh;
  width: 100%;
}
@media (max-width: 1400px) {
  #titlePlaceholder {
    display: none;
  }
}

#insidePlaceholder {
  padding-top: 10%;
  padding-left: 50%;
  font-size: 30px;
}

.widthOfSidebar {
  padding-left: 250px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1400px) {
  body {
    margin: 0;
  }
}

a {
  color: rgba(34, 187, 238, 1);
}
a:hover {
  color: #A2DFF5;
}
a:active, a:focus {
  color: #fff;
}

a.lightBG {
  color: rgba(34, 187, 238, 1);
  transition: 0.2s ease-in-out;
  box-shadow: inset 0 0 0 0 rgba(34, 187, 238, 1);
  text-decoration: none;
}
a.lightBG:hover {
  color: #fff;
  box-shadow: inset 0 100px 0 0 rgba(34, 187, 238, 1), 0px 0px 0px 3px rgba(34, 187, 238, 1);
}
a.lightBG:active, a.lightBG:focus {
  color: #fff;
  box-shadow: inset 0 100px 0 0 rgba(34, 187, 238, 1), 0px 0px 0px 3px rgba(34, 187, 238, 1);
}

h3 {
  font-size: 24px;
}

hr {
  border-color: #cfcfcf;
}

.btn {
  text-transform: uppercase;
  border: 3px solid rgba(34, 187, 238, 1);
  font-size: 1.4em;
  color: rgba(34, 187, 238, 1);
  border-radius: 0px;
  box-shadow: inset 0 0 0 0 rgba(34, 187, 238, 1);
  box-shadow: 0px rgba(34, 187, 238, 0.1);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.2s ease-in-out;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: inset 0 200px 0 0 rgba(34, 187, 238, 1), 0px 0px 0px 6px rgba(34, 187, 238, 1);
  color: #fff;
  border: 3px solid rgba(34, 187, 238, 1);
}

.buttonSkip {
  padding-top: 60px !important;
}

.btnSkip {
  max-width: 400px;
}
@media (max-width: 1400px) {
  .btnSkip {
    width: 100%;
    max-width: 9000px;
  }
}

.buttonCenter {
  padding-top: 20px;
  padding-bottom: 20px;

  /*display: flex;
  justify-content: center;
  flex-direction: column;*/

  text-align: center;
}

.buttonCenter h2 {
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 700;
}



#titleContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;

  transition: 0.3s ease-in-out;
  background-color: #0d0d0d;

  color: #fff;

  border-right: 2px solid #fff;
  z-index: 999;
}
@media (max-width: 1400px) {
  #titleContainer {
    display: none;
    /*position: relative;
    height: auto;*/
  }
}

#titleContainerContent1 {
  background-color: #161616;
  width: 100%;

  height: 50vh;
  min-height: 00px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.titleContainerContent1Flex {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  transition: 0.3s ease-in-out;
}
@media (max-height: 900px) {
  .titleContainerContent1Flex {
    padding: 0px;
  }
}

.titleName {
  font-size: 30px;
  letter-spacing: 1.14em;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}

.titlehr {
  width: 300px;
  border-color: white;
  border-width: 2px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1050px) {
  .titlehr {
    width: 200px;
  }
}

.scrollArrow {
  transition: 0.3s ease-in-out;
  margin-bottom: -20px; 
  opacity: 1;
  width: 20px;
}

#titleContainerContent1Inner {
  border: 2px solid white;
  border-radius: 50%;
  width:  180px;
  height:  180px;
  margin:  0 auto;
  transition: 0.3s ease-in-out;
}

#titleContainerContent1InnerIMG {
  width: 159px;
  transition: 0.3s ease-in-out;
}

#titleContainerContent1Name {
  padding-top: 30px;
}

#titleContainerContent1Scroll {
  padding-bottom: 0px;
  margin-bottom: -40px;
}

#titleContainerContent1Desc {
  margin-top: 50px;
  height: 60px;
}

#titleContainerContent1Desc p {
  margin: 0px;
}

#titleContainerContent2 {
  width: 100%;
  height: 45vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  border-bottom: 2px solid white;
  transition: 0.3s ease-in-out;
}

.titleContainerContent2Image {
  padding-left: 80px;
  padding-right:  80px;
  margin-bottom:  -5px;

  user-select: none;
  transition: 0.3s ease-in-out;
  opacity: 1;
}


#titleContainerContent3 {
  height: 5vh;
  background-color: #161616;
}

.title2desc {
  position: absolute;
  width: 405px;
  border-left: 2px solid rgba(42, 181, 232, 0);
  border-right: 2px solid rgba(42, 181, 232, 0);
  letter-spacing: 0.4em;
  transition:  0.2s ease-in-out;
  cursor: pointer;

  padding-top: 10px;
  padding-bottom: 10px;
}

.title2desc:hover {
  border-left: 2px solid #2bb5e9;
  border-right: 2px solid #2bb5e9;
  letter-spacing: 0.6em;
}

#title2descGD {
  margin-top: -225px;
}

#title2descWD {
  margin-top: -170px;
}

#title2desc3D {
  margin-top: -225px;
}

.title2desc h2 {
  font-weight: 600;
  font-size: 12px;
}

/* MOBILE TITLE PAGE/NAV CSS */

#titleMobile {
  display: none;

  text-align: center;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #0d0d0d;

  color: #fff;

  border-right: 2px solid #fff;
  z-index: 999;
}
@media (max-width: 1400px) {
  #titleMobile {
    display: flex;
    border-right: 0px solid #fff;
  }
}







.titleMobileContent1 {
  background-color: #161616;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleMobileName {
  margin-top: 30px;
  font-size: 30px;
  letter-spacing: 1.14em;
  font-weight: 300;
}
@media (max-width: 900px) {
  .titleMobileName {
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
}

.titleMobileContent1Inner {
  border: 2px solid white;
  border-radius: 50%;
  width:  180px;
  height:  180px;
  margin:  0 auto;
}

.titleMobileProfpic {
  padding-top: 50px;
}

.titleMobileBottom {
  padding-top: 20px;
  padding-bottom: 30px;
}

.titleMobileContent1InnerIMG {
  width: 159px;
}

.titleMobileContent1Name {
  padding-top: 30px;
}

.titleMobileContent1Scroll {
  padding-bottom: 0px;
  margin-bottom: -40px;
}

.titleMobileContent2 {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid white;
}

.titleMobileContent3 {
  height: 10vh;
  background-color: #161616;
}

.titleMobileSidebarContainer {
  width: 90%;
  text-align: center;
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 30px;
  padding-bottom: 30px;
}

.titleMobileSidebarNavItem {
  max-width: 600px;
  width: 100%;
  
  /*border-top: 2px solid rgba(255,255,255,0.1);*/
  padding-top: 10px;
  padding-bottom: 8px;

  text-transform: uppercase;
  font-family: 'Josefin Sans';

  text-align: center;
}

.titleMobileSidebarNavItem a {
  border-right: 2px solid #2bb5e9;
  border-left: 2px solid #2bb5e9;
  border-radius: 2px;
  width: 100%;
  display: block;

  padding-top: 12px;
  padding-bottom: 8px;
  margin: 0 auto;
  padding-left: 1px;

  color: white;
  font-size: 12px;

  transition: 0.1s ease-in-out;

  letter-spacing: 0.1em;
}

.titleMobileSidebarNavItem a:hover {
  text-decoration: none;

  background-color: #2bb5e9;
  border-right: 0px solid #2bb5e9;
  border-left: 0px solid #2bb5e9;
  color: #000;

  font-weight: 700;

  letter-spacing: 0.2em;
}

.activeNavItem {
  text-decoration: none;

  background-color: #2bb5e9;
  border-right: 0px solid #2bb5e9;
  border-left: 0px solid #2bb5e9;
  color: #000 !important;

  font-weight: 700 !important;

  letter-spacing: 0.2em !important;

  box-shadow: inset 0 50px 0 0 rgba(34, 187, 238, 0.2), 0px 0px 0px 4px rgba(34, 187, 238, 0.2);
}

.titleMobileSidebarNavItem a:active, .titleMobileSidebarNavItem a:visited, .titleMobileSidebarNavItem a:focus {
  text-decoration: none;
}

.titleMobilehr {
  width: 70vw;
  max-width: 400px !important;
  border-color: white;
  border-width: 2px;
}











/* BODY CONTENT DIVS */

.contentDiv {
  padding-left: 250px;
  padding-top: 20px;
}
@media (max-width: 1400px) {
  .contentDiv {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contentHeaderHR {
  border-width: 2px;
  width: 486px;
}
@media (max-width: 600px) {
  .contentHeaderHR {
    width: 80vw;
  }
}

/* TITLE SIDEBAR NAV */

#titleSidebarContainer {
  display: none;
  opacity: 0;

  transition: 0.3s ease-in-out;
  height: 63vh;
}

.titleSidebarNavItem {
  width: 200px;
  
  /*border-top: 2px solid rgba(255,255,255,0.1);*/
  padding-top: 10px;
  padding-bottom: 8px;

  text-transform: uppercase;
  font-family: 'Josefin Sans';

  text-align: center;
}

.titleSidebarNavItem a {
  border-right: 2px solid #2bb5e9;
  border-left: 2px solid #2bb5e9;
  border-radius: 2px;
  width: 200px;
  display: block;

  padding-top: 12px;
  padding-bottom: 8px;
  margin: 0 auto;
  padding-left: 1px;

  color: white;
  font-size: 12px;

  transition: 0.1s ease-in-out;

  letter-spacing: 0.1em;
}

.titleSidebarNavItem a:hover {
  text-decoration: none;

  background-color: #2bb5e9;
  border-right: 0px solid #2bb5e9;
  border-left: 0px solid #2bb5e9;
  color: #000;

  font-weight: 700;

  letter-spacing: 0.2em;
}

.titleSidebarNavItem a:active, .titleSidebarNavItem a:visited, .titleSidebarNavItem a:focus {
  text-decoration: none;
}

/* BODY CSS */

@media (min-width: 1200px){
  .container {
      width: 96%;
  }
}

.contentDivHeader {
  color: #fff;

  background: linear-gradient(to right, #0d0d0d 0%, #0d0d0d 75%, #161616 75%, #161616 100%);

  padding-top: 300px;
  padding-left: 330px;
  padding-bottom: 60px;
}
@media (max-width: 1400px) {
  .contentDivHeader {
    padding-top: 100px;
    padding-left: 60px;
    background: #0d0d0d;
  }
}

.contentDivMobileImage {
  display: none;
  background-color: #161616;

  align-content: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 60px;

  border-top: 2px solid white;
}
@media (max-width: 1400px) {
  .contentDivMobileImage {
    display: flex;
  }
}



.contentDivHeader h2 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.35em;
  font-weight: 300;
}
@media (max-width: 600px) {
  .contentDivHeader h2 {
    font-size: 24px;
    letter-spacing: 0.2em;
  }
  .contentDivHeader p {
    text-align: justify !important;
  }
}

.contentDivHeaderLeftPanel {
  max-width: 1000px;
}

.contentDivHeaderImage {
  width: calc( 100vw );
  text-align: right;
}
@media (max-width: 1400px) {
  .contentDivHeaderImage {
    display: none;
  }
}

.contentDivHeaderImageContainer {
  padding-top: 120px;
  width: 27vw;
  text-align: center;
  float: right;
}

.contentDivTitle {
  background-color: #cfcfcf;
  color: #000;
  border-top: 2px solid white;
  padding-top: 90px;
  padding-bottom: 10px;
}
@media (max-width: 1400px) {
  .contentDivTitle {
    padding-top: 40px;
  }
}

.contentDivTitle h2 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.35em;
  font-weight: 700;
}

.contentTitleIcon {
  float: left;
  margin-top: -9px;
  margin-left: 60px;
  margin-right: 10px;
}
@media (max-width: 1400px) {
  .contentTitleIcon {
    margin-left: 20px;
  }
}

.contentDivTitle p {
  letter-spacing: 0.01em;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .contentDivTitle p {
    margin-top: 20px;
  }
}

.gridBG {
  position: absolute;
  user-select: none;
  margin-top: -283px;
  margin-left: -68px;
  opacity: 0.3;
}
@media (max-width: 1400px) {
  .gridBG {
    display: none;
  }
}

.barHeader {
  display: block;
  margin-top: -92px;
  margin-left: -100px;
}
@media (max-width: 900px) {
  .barHeader {
    display: none;
  }
}
.barHeaderMobile {
  display: none;
  margin-top: -92px;
  margin-left: -100px;
}
@media (max-width: 900px) {
  .barHeaderMobile {
    display: block;
  }
}

.contentRightCol {
  border: 2px solid #cfcfcf;
  border-radius: 2px;

  padding: 20px;
  margin: 0px;
  margin-bottom: 20px;
}

.contentPaddingDiv {
  height: 40px; 
  width: 100%;
}

.miniAppImage {
  padding-right: 5px;
  padding-bottom: 4px;
}

/* WHAT I DO (WID) FLEXBOX */

.wid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  flex-wrap: wrap;

  min-width: 480px;
  width: 30vw;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .wid {
    min-width: 100px;
    width: 90vw;
  }
}

.widInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  font-weight: 700;

  width: 120px;
  height: 120px;
  border: 3px solid #111;
  border-radius: 5px;

  margin: 20px;

  color: #111;
  transition: 0.2s ease-in-out;

  user-select: none;
}

.widInner:hover {
  cursor: pointer;
}

.widInnerP {
  position: absolute;
  margin-top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.widIMG {
  transition: 0.2s ease-in-out;
}

.widInner:hover .widInnerP {
  opacity: 1;
}

.widInner:hover .widIMG {
  opacity: 0.2;
}

/* MODAL STYLING */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
  }
}

.modal-content {
  width: 900px;
}
@media (max-width: 920px) {
  .modal-content {
    width: 98vw;

  }
}
@media (max-width: 576px) {
  .modal-content {
    width: 96vw;
  }
}

.modal-title {
  color:  #2bb5e9;
  padding-left: 30px;
  margin-top: 10px;
}

.modal-footer {
  justify-content: center;
}



.contentDivExperienceList li {
  padding-top: 40px;
}

.contentDivExperienceList li h3 {
  padding-left: 30px;
  padding-top: 20px;
  color:  #2bb5e9;
}

.contentDivExperienceList li ul {

  /* list-style: none; */
}

.contentDivExperienceList li ul li {
  margin-left: 30px;
  padding-top: 0px;
}

.programListType {
  font-weight: 700;
}