body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

#titlePlaceholder {
  position: relative;
  height: calc( 100vh ); 
  width: 100%;
}

#titleContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition:  0.3s ease-in-out;

  padding-top: calc(50vh - 100px);

  background-color:  rgba(22,22,22,1);
  color: #fff;
}
#titleContainerContent {
  /*min-width: calc(100vw - 40px);
  /*text-align: center;*/
}
#titleContainerContentInner {
  margin-left: 150px;
  transition:  0.1s ease-in-out;
  /*text-align: center;*/
}
#titleContainerContentImage{
  float: left;
  width: 130px;
  /*text-align: center;*/
  border:  none;
  border-radius: 50%;
  padding-left:  0px;
  transition: 0.3s ease-in-out;
}
#titleName {
  font-size: 6em;

  margin: 0;
  margin-top: 10px;
  transition: 0.3s ease-in-out;

  text-align: center;
  width: 960px;
}
#titleSecondary {
  font-size: 2em;
  margin: 0;
  height: 40px;
  transition: 0.1s ease-in-out;
}
#titleImage {
  display: block;
  width: 130px;
  background-color: black;
  border-radius: 50%;
}
#titleRule {
  width: 960px;
  border-width: 1px;
  background-color: white;
  transition: 0.3s ease-in-out;
  /*margin-top: 0px;*/
}
/*
@media (min-width: 768px){
  #titleContainer {
    height: 100vh; 
    width: 100vh;
  }
}*/


header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("../img/background-main/spacebg.png"), url("../img/background-main/mainbg.png");
  /* background-position: center; */
  animation: 10s scrollBG2 infinite linear;
  background-size: 1920px 1717px, 1920px 1080px;
  }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      letter-spacing: 0.1em;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-family: 'DolceVita', Arial, sans-serif;
    }
    header.masthead .header-content .header-content-inner img {
      width: 50px;
      height: 50px;
    }
    header.masthead .header-content .header-content-inner .boldSpan {
      margin-left: 0.1em;
    }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    header.masthead {
      height: 80%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-family: 'DolceVita', Arial, sans-serif;
            font-size: 35px;
            letter-spacing: 1em;
          }
          header.masthead .header-content .header-content-inner img {
            width: 150px;
            height: 150px;
          }
          header.masthead .header-content .header-content-inner .boldSpan {
            margin-left: 1em;
          }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }